@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastro";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Cadastre uma nova conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Nome">Nome</label>
                <input asp-for="Input.Nome" class="form-control" />
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <label asp-for="Input.NumeroTelefone">Telefone</label>
                <input asp-for="Input.NumeroTelefone" class="form-control" />
                <span asp-validation-for="Input.NumeroTelefone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirme a Senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Sou consumidor/vendedor</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label asp-for="Input.TipoUsuario">Quero Comprar!</label>
                <input type="radio" asp-for="Input.TipoUsuario" value="@((int)TipoUsuario.CONSUMIDOR)" />
                <label asp-for="Input.TipoUsuario">Quero Vender!</label>
                <input type="radio" asp-for="Input.TipoUsuario" value="@((int)TipoUsuario.FORNECEDOR)" />
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Enviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
